// Colores
$primary-color: #d16ba5; // Rosa principal
$secondary-color: #4a4a4a; // Gris oscuro
$background-dark: #1a1a1a; // Fondo oscuro
$text-light: #ffffff; // Texto blanco
$footer-dark: #2c2c2c; // Fondo oscuro para el footer

// Bordes y sombras
$border-radius: 15px;
$box-shadow-light: 0 4px 8px rgba(0, 0, 0, 0.2);
$box-shadow-hover: 0 8px 16px rgba(0, 0, 0, 0.4);

// Tipografía
$font-family: 'Noto Sans JP', sans-serif;
$font-size-base: 1rem;
$font-size-title: 1.5rem;