// Definición de variables
$card-width: 95%;
$card-height: 100%;
$card-margin: 10px;


.promo-card {
    width: $card-width !important; 
    height: $card-height !important;
    margin: $card-margin !important;
}

.platillo-card {
    width: $card-width !important; 
    height: $card-height !important;
    margin: $card-margin !important;
}